.dashboard__layout {
   $bg: #fff;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 10vh 90dvh;
	height: 100dvh;
	overflow: hidden;
	position: relative;

	.dash__nav {
		grid-column: 1/3;
		grid-row: 1/2;
		z-index: 1;
		background-color: $bg;
      backdrop-filter: blur(10px);
      border-bottom: 1px solid #bababa81;
	}

	.side__bar {
		grid-column: 1/2;
		grid-row: 2/3;
		z-index: 1;		
		background-color: #fcfcfce1;
      backdrop-filter: blur(2px);
      border-right: 1px solid #bababa81;
	}

	.dashboard__outlet {
		grid-column: 2/3;
		grid-row: 2/3;
		z-index: 1;
      height: 90dvh;
      overflow-y: auto;
      position: relative;
		background-color: #eeeeee;
	}

	.video__cover {
		position: absolute;
		height: 100dvh;
		width: 100%;
		left: 0;
		object-fit: cover;
		top: 0;
		filter: blur(6px) saturate(0%) opacity(0.5);
	}
}

@media screen and (max-width:900px) {
	.dashboard__layout {
		grid-template-columns: 100%;

		.side__bar {
			position: absolute;
			top: 0;
			width: 75%;
			left: 0;
			height: 90vh;
			z-index: 7;
		}

		.dashboard__outlet {
			grid-column: 1/-1;
		}
	}
}