.linear-progress {
	background: #d9edff;
	height: 1.3rem;
	position: relative;
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-animation: start 0.3s ease-in;
	animation: start 0.3s ease-in;
   position: fixed;
   top: 50%;
   left: 0;
   z-index: 20;
}
.linear-progress.small {
	width: 30%;
   transform: translateX(-50%);
   left: 50%;
	height: .2rem;
}
.linear-progress .bar {
	position: absolute;
	background: #2e90db;
	transition: transform 0.2s linear;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}
.linear-progress .bar1 {
	-webkit-animation: progressLinearMovement 2.5s infinite;
	animation: progressLinearMovement 2.5s infinite;
	-webkit-animation-delay: 0;
	animation-delay: 0;
}
.linear-progress .bar2 {
	left: -100%;
	-webkit-animation: progressLinearMovement 2.5s infinite;
	animation: progressLinearMovement 2.5s infinite;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}







@keyframes start {
	from {
		max-height: 0;
		opacity: 0;
	}
	to {
		max-height: 20px;
		opacity: 1;
	}
}


@keyframes progressLinearMovement {
	0% {
		left: -100%;
	}
	50% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}