@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.test-color {
  color: #d8d2ff;
  
}

.clip__path {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);

}