
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
   padding: 0;
   font-family: 'Segoe UI';

   .landing__page * {
    font-family: "Raleway";
   }

   .auth__layout * {
    font-family: "Raleway";
   }

   .dashboard__layout * {
    font-family: "Manrope";
   }
   .required:after {
    content:" *";
    color: red;
   }
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope.ttf");
}

.test-color {
  color: #d5cffd;
  
}

.clip__path {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);

}

.shadow-custom {
  box-shadow: 0 1rem 1.5rem #1f1f1f91;
}

.footer__grid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 80%;
  border: 1px solid red;
  margin: 0 auto;
}
