.auth__cover {
	position: relative;
	height: 100%;
	width: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth__modal {
	padding: 1.5rem;
	width: 70%;
	border-radius: .8rem;
	background-color: white;

	.cancel__btn {
		$size: 1.8rem;
		width: $size;
		height: $size;
		border-radius: 50%;
		background-color: gainsboro;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		padding: .5rem;
		border: none;
		margin-bottom: 0rem;

		img {
			width: 100%;
			filter: invert(1) brightness(200);
		}
	}

	.logo__container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 900;
		font-size: 1.5rem;
		gap: 0.2rem;
		color: #4629FA;
		letter-spacing: 1.5;


		p {
			font-family: 'Manrope';
			font-size: 1.2rem;
			color: #565656;
		}

		img {
			width: 2rem;
			filter: invert(.6);
		}
	}
	form {
		margin: 0 auto;
		position: relative;

		& .auth__label {
			display: block;
			color: rgb(182, 182, 182);
			font-size: 0.75rem;
			margin: 1.7rem 0 0.7rem 0;
			text-align: center;
			
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}

		// & .sign-up {
		// 	& a {
		// 		color: blue;
		// 		text-decoration: underline;
		// 		cursor: pointer;

		// 		&:active {
		// 			color: red;
		// 		}
		// 	}
		// }

		& .policy {
			display: inline;
			height: 0.7rem;
			width: 0.7rem;
			margin: 1.3rem 0.5rem 0 0;
			cursor: pointer;
		}

	

		& .policy__label {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			display: inline;
			color: rgb(182, 182, 182);
			font-size: 0.68rem;
			margin: .7rem 0 0.7rem 0;

			&.login__policy {
				display: block;
				line-height: 1.7;
			}
		

			& a {
				color: blue;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.submit__btn {
			width: 100%;
			padding: 0.9rem 0;
			border-radius: .4rem;
			margin: 1.3rem auto;
			background-color: #4629FA;
			color: white;
			font-weight: 600;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				height: 1.3rem;
			}
		}

		.social {
			.social__text {
				position: relative;
				color: gray;
				z-index: 1;
				span {
					position: absolute;
					width: 100%;
					height: 0.1rem;
					background-color: #dbdbdb;
					display: block;
					left: 0;
					top: 50%;
					z-index: -1;
					transform: translate(0, -50%);

				}
				
				p {
					text-align: center;
					font-size: 0.7rem;
					position: relative;
					padding: .4rem;
					width: fit-content;
					margin: 0 auto;
					background-color: white;

				}
			}

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: .3rem;
				width: 100%;
			padding: 0.9rem 0;
			margin: 1.3rem auto;
			background-color: transparent;
			 border: 1px solid #dbdbdbdc;
			 color: #a2a2a2;
			 border-radius: .3rem;


				img {
					width: 1.2rem;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.auth__modal {
		top: 0;
		transform: translate(0, 0);
		left: 0;
		width: 100%;
		height: 100%;
	}
}